<h1 class="text-center m-4">Article listing page</h1>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

    <%= render 'listing' %>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
