<h1>article listing page</h1>

<table>
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>

    <% @articles.each do |article| %>
    <tbody>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>sdsdsdsd</td>
    </tbody>
    <% end %>

</table>