<div class="container" >
    <div class="m-3 p-5 rounded-3 d-flex align-items-center justify-content-center" id="bg-img">
        <div class="bg-primary p-5 rounded-5" >
            <h1 class="text-white">Welcome to my blog</h1>
            <%= link_to "sign up", signup_path, class: "btn btn-light btn-lg mt-3 text-primary " %>
        </div>
    </div>

</div>

