<div class="container" >
    <div class="m-3 p-5 rounded d-flex align-items-center justify-content-center" id="bg-img">
        <div>
        <h1 class="text-white mt-33">Welcome to my blog</h1>
        <button type="button" class="btn btn-success btn-lg mt-3 ">Success</button>
        </div>
    </div>

    <%= link_to "Articles listing", articles_path %> |
    <%= link_to "About page", about_path %>

</div>



<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-light">the sticky foooter is here</span>
    </div>
  </footer>

<!--<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>!-->



